@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
    min-height: 100vh;
    /* overflow: hidden;  */
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100000;
}

header.sticky
{
    padding: 5px 100px;
    background: #fff;
}

.logo
{
    font-size: 2em;
    color: rgb(75, 132, 193);
    pointer-events: none;
    margin-right: 270px;
}

.navigator a
{
    text-decoration: none;
    color: rgb(75, 132, 193);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigator a:hover, 
.navigator a.active
{
    background: rgb(75, 132, 193);
    color: aliceblue;
}

.line
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text
{
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.line img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec
{
    position: relative;
    background: #fff;
    padding: 100px;
}

.sec h2
{
    font-size: 3em;
    color: #333;
    margin-bottom: 10px;

}

.sec .wrapper{
    display: inline-flex;
}

.sec .wrapper .static-txt{
    color: rgb(75, 132, 193);
    font-size: 60px;
    font-weight: 400;

}

.sec .wrapper .dynamic-txt{
    margin-left: 15px;
    height: 60px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-txt li{
    color: rgb(28, 128, 235);
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    animation: slide 6s steps(5) infinite;
}

@keyframes slide{
    100%{
        top: -360px;
    }

}

.dynamic-txt li span{
    position: relative;
}

.dynamic-txt li span::after
{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border-left: 2px solid rgba(35, 1, 255, 0.863); 
    animation: typing 1.5s steps(17) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }

}


.sec p
{
    font-size: 1em;
    color: #333;
    font-weight: 300;
}